{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Amend Prison" %}

{% block content %}

    <!--suppress HtmlUnknownTarget -->
    <main class="app-container govuk-body">
        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: 'There is a problem',
                errorList: errors,
                attributes: { 'data-qa-errors': true }
            }) }}
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Amend prison - main details for {{ form.id }}</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <form action="/prison-register/amend-prison-details" method="post" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <input type="hidden" name="id" value="{{ form.id }}" />
                    {% call govukFieldset({
                        legend: {
                            text: "What are the main details for the prison?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    }) %}

                        {{ govukInput({
                            label: {
                                html: 'Prison name'
                            },
                            id: "name",
                            name: "name",
                            hint: {
                                text: "This is the name which will be displayed in most services"
                            },
                            value: form.name,
                            errorMessage: errors | findError('name')
                        }) }}

                        {{ govukCheckboxes({
                            idPrefix: "gender",
                            name: "gender",
                            fieldset: {
                                legend: {
                                    text: "Is this a male and/or female prison?",
                                    isPageHeading: false,
                                    classes: "govuk-fieldset__legend--m"
                                }
                            },
                            hint: {
                                text: "Select all that apply."
                            },
                            items: genderValues | setChecked(form.gender),
                            errorMessage: errors | findError('gender')
                        }) }}

                        {{ govukCheckboxes({
                            idPrefix: "prisonTypes",
                            name: "prisonTypes",
                            fieldset: {
                                legend: {
                                    text: "What type of Prison is this?",
                                    isPageHeading: false,
                                    classes: "govuk-fieldset__legend--m"
                                }
                            },
                            hint: {
                                text: "Select all that apply."
                            },
                            items: prisonTypesValues | setChecked(form.prisonType),
                            errorMessage: errors | findError('prisonType')
                        }) }}

                        {{ govukRadios({
                          classes: "govuk-radios--inline",
                          idPrefix: "contracted",
                          name: "contracted",
                          fieldset: {
                            legend: {
                              text: "Is this Prison contracted?",
                              isPageHeading: false,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          hint: {
                            text: "A contracted Prison is one run by a third party company, under contract to the Ministry of Justice"
                          },
                          items: [
                            {
                              value: "yes",
                              text: "Yes",
                              checked: form.contracted === 'yes'
                            },
                            {
                              value: "no",
                              text: "No",
                              checked: form.contracted === 'no'
                            }
                          ]
                        }) }}

                        {{ govukRadios({
                            classes: "govuk-radios--inline",
                            idPrefix: "lthse",
                            name: "lthse",
                            fieldset: {
                                legend: {
                                    text: "Is this prison part of the long term high security estate?",
                                    isPageHeading: false,
                                    classes: "govuk-fieldset__legend--m"
                                }
                            },
                            hint: {
                                text: ""
                            },
                            items: [
                                {
                                    value: "yes",
                                    text: "Yes",
                                    checked: form.lthse === 'yes'
                                },
                                {
                                    value: "no",
                                    text: "No",
                                    checked: form.lthse === 'no'
                                }
                            ]
                        }) }}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Save"
                            }) }}
                            <a class="govuk-link" href="/prison-register/details?id={{ form.id }}">Cancel</a>
                        </div>
                    {% endcall %}
                </form>
            </div>
        </div>
    </main>

{% endblock %}
