{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Amend Prison" %}

{% macro addressTitle(line1, line2, town) %}
    {% if line1 and line1.trim() != '' %} {{ line1 }}
    {% else %}
        {% if line2 and line2.trim() != '' %} {{ line2 }}
        {% else %} {{ town }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro line(text) %}
  {% if text and text.trim() != '' %}
    <p> {{ text }} </p>
  {% endif %}
{% endmacro %}

{% macro renderAddress(line1, line2, town, county, postcode, country) %}
  {{ line(line1) }}
  {{ line(line2) }}
  {{ line(town) }}
  {{ line(county) }}
  {{ line(postcode) }}
  {{ line(country) }}
{% endmacro %}

{% block content %}

    <!--suppress HtmlUnknownTarget -->
    <main class="app-container govuk-body">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Address to be removed for prison: {{ form.prisonId }}</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <form action="/prison-register/delete-prison-address" method="post" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <input type="hidden" name="id" value="{{ form.id }}" />
                    <input type="hidden" name="prisonId" value="{{ form.prisonId }}" />

                    {{ govukSummaryList({
                          attributes: { "data-qa": "address-details-section-"+ address.id},
                          rows: [
                            {
                              key: {
                              text: "Address"
                            },
                              value: {
                              html: renderAddress( form.addressline1, form.addressline2, form.addresstown, form.addresscounty, form.addresspostcode, form.addresscountry),
                              classes: "address-details"
                            }
                            }
                          ]
                        }) }}

                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Delete address",
                            classes: "govuk-button--warning"
                        }) }}
                        <a class="govuk-link" href="/prison-register/details?id={{ form.prisonId }}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}
