{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Prison Details" %}

{% macro prisonname(id, name, active) %}
  <p>
    {{ id }}
  </p>
  <p>
    {{ name }}
  </p>
  <p>
    {% if prison.active %}
      Open
    {% else %}
      Closed
    {% endif %}
  </p>
{% endmacro %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/prison-register"
  }) }}

  <!--suppress HtmlUnknownTarget -->
  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ prisonDetails.name }}</h1>
  </main>

  <div>
    <h2 class="flush-left govuk-heading-m govuk-grid-column-one-half">Prison details</h2>
  </div>

  {{ govukSummaryList({
    attributes: { "data-qa": "prison-summary-section"},
    rows: [
      {
        key: {
        text: "Prison"
      },
        value: {
        html: prisonname(prisonDetails.id, prisonDetails.name, prisonDetails.active),
        classes: "prison-details"
      },
        actions: {
        items: [
          {
          }
        ]
      }
      }
    ]
  }) }}

{% endblock %}
