{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Prison Details" %}

{% macro prisonname(id, name, active, male, female, types) %}
  <p>
    {{ id }}
  </p>
  <p>
    {{ name }}
  </p>
  <p>
    {% if active %}
      Open
    {% else %}
      Closed
    {% endif %}
  </p>
  <p>
    {% if male %}
      Male prison
    {% endif %}
  </p>
  <p>
    {% if female %}
      Female prison
    {% endif %}
  </p>

  {% if types|length %}
    <p>
      Type(s):
      {% for type in types %}
        {{ type.description }}{% if loop.revindex > 1 %},{% endif %}
      {% endfor %}
    </p>
  {% endif %}
{% endmacro %}

{% macro line(text) %}
  {% if text and text.trim() != '' %}
    <p> {{ text }} </p>
  {% endif %}
{% endmacro %}

{% macro renderAddress(line1, line2, town, county, postcode, country) %}
  {{ line(line1) }}
  {{ line(line2) }}
  {{ line(town) }}
  {{ line(county) }}
  {{ line(postcode) }}
  {{ line(country) }}
{% endmacro %}

{% macro addressTitle(line1, line2, town) %}
  {% if line1 and line1.trim() != '' %} {{ line1 }}
  {% else %}
    {% if line2 and line2.trim() != '' %} {{ line2 }}
    {% else %} {{ town }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro amendPrisonUrl(prison) %}
  /prison-register/amend-prison-details-start?prisonId={{ prison.id }}
{% endmacro %}
{% macro amendAddressUrl(prison, address) %}
  /prison-register/amend-prison-address-start?prisonId={{ prison.id }}&addressId={{ address.id }}
{% endmacro %}

{% macro confirmationPanel(message, attribute) %}
  <div data-qa="{{ attribute }}" class="govuk-panel govuk-panel--confirmation">
    <div class="govuk-panel__body">
      {{ message }}
    </div>
  </div>
{% endmacro %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/prison-register"
  }) }}

  <!--suppress HtmlUnknownTarget -->
  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ prisonDetails.name }}</h1>

    {% if action == 'UPDATED' %}
      {{ confirmationPanel('Prison has been updated successfully', 'confirm-updated') }}
    {% endif %}
    {% if action == 'ACTIVATE-PRISON' %}
      {{ confirmationPanel('Prison has been successfully activated', 'confirm-prison-activation') }}
    {% endif %}
    {% if action == 'DEACTIVATE-PRISON' %}
      {{ confirmationPanel('Prison has been successfully marked as closed', 'confirm-prison-deactivation') }}
    {% endif %}

  <div>
    <h2 class="flush-left govuk-heading-m govuk-grid-column-one-half">Prison details</h2>
    <form class="flush-right govuk-grid-column-one-half" action="/prison-register/toggle-prison-active"
          method="post"
          novalidate="">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      <input type="hidden" name="id" value="{{ prisonDetails.id }}">
      {% if prisonDetails.active %}
        <input type="hidden" name="active" value="false">
        {{ govukButton({
          text: "Mark prison closed",
          classes: "govuk-button govuk-button--secondary",
          attributes: { "data-qa": "mark-as-closed-" + prisonDetails.id }
        }) }}
      {% else %}
        <input type="hidden" name="active" value="true">
        {{ govukButton({
          text: "Mark prison open",
          classes: "govuk-button govuk-button--secondary",
          attributes: { "data-qa": "mark-as-open-" + prisonDetails.id }
        }) }}
      {% endif %}
    </form>
  </div>

  {{ govukSummaryList({
    attributes: { "data-qa": "prison-summary-section"},
    rows: [
      {
        key: {
        text: "Prison"
      },
        value: {
        html: prisonname(prisonDetails.id, prisonDetails.name, prisonDetails.active, prisonDetails.male, prisonDetails.female, prisonDetails.types),
        classes: "prison-details"
      },
        actions: {
        items: [
          {
            href: amendPrisonUrl(prisonDetails),
            text: "Change",
            visuallyHiddenText: "prison details",
            attributes: { "data-qa": "amend-prison-details-link"}
          }
        ]
      }
      }
    ]
  }) }}

  {% for address in prisonDetails.addresses %}
    {% if prisonDetails.addresses.length > 1 %}
      <div>
        <h2 class="flush-left govuk-heading-m govuk-grid-column-one-half">{{ addressTitle(address.line1, address.line2, address.town) }}</h2>
      </div>
    {% endif %}
    {{ govukSummaryList({
      attributes: { "data-qa": "address-details-section-"+ address.id},
      rows: [
        {
          key: {
          text: "Address"
        },
          value: {
          html: renderAddress( address.line1, address.line2, address.town, address.county, address.postcode, address.country),
          classes: "address-details"
        },
          actions: {
          items: [
            {
              href: amendAddressUrl(prisonDetails, address),
              text: "Change",
              visuallyHiddenText: "address details",
              attributes: { "data-qa": "amend-address-details-link-"+ address.id}
            }
          ]
        }
        }
      ]
    }) }}
  {% endfor %}

  </main>

{% endblock %}
