{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro emailAddressesCard(opts) %}

  {% set emailAddresses = opts.emailAddresses %}
  {% set baseRegisterUrl = opts.baseRegisterUrl %}
  {% set id = opts.id %}
  {% set data = [] %}


  {% if emailAddresses and emailAddresses.length > 0 %}
    {% for item in emailAddresses %}
      {% set data = data.concat([{

        key: {
          text: "Email"
        },
        value: {
          text: item.address
        },
        actions: {
          items: [
            {
              href: baseRegisterUrl + "/email/update?id=" + id + "&emailId=" + item.id,
              text: "Update",
              visuallyHiddenText: "email address " + item.address,
              attributes: {"data-qa": "update-email-address-link"},
              classes: "govuk-link--no-visited-state"
            }
          ] if baseRegisterUrl else []
        }
      }]) %}
    {% endfor %}
  {% else %}
    {% set data = data.concat([{
      key: {
        text: 'No email addresses provided.',
        classes: 'govuk-!-font-weight-regular govuk-!-width-full'
      }
    }]) %}
  {% endif %}

  {{ govukSummaryList({
    card: {
      classes: 'summary-card-wider-key-column',
      title: {
        text: "Email addresses"
      },
      actions: {
        items: [
          {
            href: baseRegisterUrl + "/email/create?id=" + id,
            text: "Add email address",
            attributes: {"data-qa": "add-email-address-link"},
            classes: "govuk-link--no-visited-state"
          }
        ] if baseRegisterUrl else []
        }
    },
    rows: data
  }) }}
{% endmacro %}
