
PORT=3000
REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
PRISON_REGISTER_API_URL=https://prison-register-dev.hmpps.service.justice.gov.uk
MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
COMPONENTS_API_URL=https://components-api-dev.hmpps.service.justice.gov.uk

NODE_ENV=development
ENVIRONMENT_NAME=dev

API_CLIENT_ID=
API_CLIENT_SECRET=
SESSION_SECRET=
SYSTEM_CLIENT_ID=
SYSTEM_CLIENT_SECRET=
