{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Add Court" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">Add a new court</h1>
  </main>

{% endblock %}
