{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Amend Court" %}

{% block content %}

    <!--suppress HtmlUnknownTarget -->
    <main class="app-container govuk-body">
        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: 'There is a problem',
                errorList: errors,
                attributes: { 'data-qa-errors': true }
            }) }}
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Amend court - main details for {{ form.id }}</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <form action="/court-register/amend-court-details" method="post" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <input type="hidden" name="id" value="{{ form.id }}" />
                    {% call govukFieldset({
                        legend: {
                            text: "What are the main details for the new court?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    }) %}

                        {{ govukSelect({
                            id: "type",
                            name: "type",
                            label: {
                                text: "Court type"
                            },
                            items: courtTypes,
                            errorMessage: errors | findError('type')
                        }) }}

                        {{ govukInput({
                            label: {
                                html: 'Court name'
                            },
                            id: "name",
                            name: "name",
                            hint: {
                                text: "This is the name which will be displayed in most services"
                            },
                            value: form.name,
                            errorMessage: errors | findError('name')
                        }) }}

                        {{ govukInput({
                            label: {
                                html: 'Additional description'
                            },
                            id: "description",
                            name: "description",
                            hint: {
                                text: "Optional description that is only used only for reference. It seen rarely seen by end users"
                            },
                            value: form.description,
                            errorMessage: errors | findError('description')
                        }) }}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Save"
                            }) }}
                            <a class="govuk-link" href="/court-register/details?id={{ form.id }}">Cancel</a>
                        </div>
                    {% endcall %}
                </form>
            </div>
        </div>
    </main>

{% endblock %}
