{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Court Details" %}
{% macro line(text) %}
  {% if text is defined and text.trim() != '' %}
    <!--suppress ALL -->
    <p> {{ text }} </p>
  {% endif %}
{% endmacro %}

{% macro courtname(type, id, name, description) %}
  {{ line(type) }}
  <p>
    {{ name }} ( {{ id }} )
  </p>
  {{ line(description) }}
{% endmacro %}
{% macro renderBuilding(name, code, line1, line2, town, county, postcode, country) %}
  <p>
    {{ name }} {% if code is defined and code.trim() != '' %} ( {{ code }} ){% endif %}
  </p>
  {{ line(line1) }}
  {{ line(line2) }}
  {{ line(town) }}
  {{ line(county) }}
  {{ line(postcode) }}
  {{ line(country) }}
{% endmacro %}
{% macro renderContacts(contacts) %}
  {% for contact in contacts %}
    <p>
    {{ contact.number }}
    {% if contact.type == 'FAX' %}
      &nbsp;(fax)
    {% endif %}
    </p>
  {% endfor %}
{% endmacro %}

{% macro amendCourtUrl(court) %}
  /court-register/amend-court-details-start?courtId={{court.id}}
{% endmacro %}
{% macro amendBuildUrl(court, building) %}
  /court-register/amend-court-building-start?courtId={{court.id}}&buildingId={{building.id}}
{% endmacro %}
{% macro amendBuildContactsUrl(court, building) %}
  /court-register/amend-court-building-contacts-start?courtId={{court.id}}&buildingId={{building.id}}
{% endmacro %}
{% macro confirmationPanel(message, attribute) %}
  <div data-qa="{{ attribute }}" class="govuk-panel govuk-panel--confirmation">
    <div class="govuk-panel__body">
      {{ message }}
    </div>
  </div>
{% endmacro %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/court-register"
  }) }}

  <!--suppress HtmlUnknownTarget -->
  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ courtDetails.name }}</h1>

    {% if action == 'ACTIVATE' %}
      {{  confirmationPanel('Court has been successfully activated', 'confirm-activation') }}
    {% endif %}
    {% if action == 'DEACTIVATE' %}
      {{  confirmationPanel('Court has been successfully marked as closed', 'confirm-deactivation') }}
    {% endif %}
    {% if action == 'UPDATED' %}
      {{  confirmationPanel('Court has been updated successfully', 'confirm-updated') }}
    {% endif %}

    <h2 class="govuk-heading-m">Court details</h2>

    {{ govukSummaryList({
      attributes: { "data-qa": "court-summary-section"},
      rows: [
        {
          key: {
          text: "Court"
        },
          value: {
          html: courtname(courtDetails.type, courtDetails.id, courtDetails.name, courtDetails.description),
          classes: "court-details"
        },
          actions: {
          items: [
            {
              href: amendCourtUrl(courtDetails),
              text: "Change",
              visuallyHiddenText: "court details",
              attributes: { "data-qa": "amend-court-details-link"}
            }
          ]
        }
        }
      ]
    }) }}

    {% for building in courtDetails.buildings %}
      <h2 class="govuk-heading-m">{{ building.name }}</h2>
      {{ govukSummaryList({
        attributes: { "data-qa": "building-summary-section-"+ building.id},
        rows: [
          {
            key: {
            text: "Main building"
          },
            value: {
            html: renderBuilding( building.name, building.code, building.addressline1, building.addressline2, building.addresstown, building.addresscounty, building.addresspostcode, building.addresscountry),
            classes: "building-details"
          },
            actions: {
            items: [
              {
                href: amendBuildUrl(courtDetails, building),
                text: "Change",
                visuallyHiddenText: "building details",
                attributes: { "data-qa": "amend-building-details-link-"+ building.id}
              }
            ]
          }
          },
          {
            key: {
            text: "Contact information"
          },
            value: {
            html: renderContacts(building.contacts),
            classes: "contact-details"
          },
            actions: {
            items: [
              {
                href: amendBuildContactsUrl(courtDetails, building),
                text: "Change",
                visuallyHiddenText: "contact deatils",
                attributes: { "data-qa": "change-contact-details-link"}
              }
            ]
          }
          }
        ]
      }) }}

    {% endfor %}

    <div class="govuk-button-group">
    <form action="/court-register/toggle-active" method="post" novalidate="">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <input type="hidden" name="id" value="{{ courtDetails.id }}">
      {% if courtDetails.active %}
        <input type="hidden" name="active" value="false">
        <button data-qa=mark-as-closed class="govuk-button" data-module="govuk-button">
          Mark as closed
        </button>
      {% else %}
        <input type="hidden" name="active" value="true">
        <button data-qa=mark-as-open class="govuk-button" data-module="govuk-button">
          Mark as open
        </button>
      {% endif %}
    </form>
    <form action="/court-register/add-new-court-building" method="post" novalidate="">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <input type="hidden" name="id" value="{{ courtDetails.id }}">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add another building
      </button>
    </form>
    </div>

  </main>

{% endblock %}
