{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro otherAgencyAreaDetailsCard(opts) %}

  {% set otherAgency = opts.otherAgency %}


  {{ govukSummaryList({
    card: {
      classes: 'summary-card-wider-key-column',
      title: {
        text: 'Area and region details'
      }
    },
    rows: [
      {
        key: {
          text: 'Area'
        },
        value: {
          text: otherAgency.area.description if otherAgency.area else 'Not provided'
        },
        actions: {
         items: [ ]
        }
      },
      {
        key: {
          text: 'Region'
        },
        value: {
          text: otherAgency.region.description if otherAgency.region else 'Not provided'
        },
        actions: {
        items: [ ]
        }
      },
      {
        key: {
          text: 'Geographical area'
        },
        value: {
        text: otherAgency.geographicalArea.description if otherAgency.geographicalArea else 'Not provided'
        },
        actions: {
          items: [ ]
        }
      },
      {
        key: {
          text: 'Local Authority'
        },
        value: {
          text: otherAgency.localAuthority.description if otherAgency.localAuthority else 'Not provided'
        },
        actions: {
        items: [ ]
        }
      },
      {
        key: {
          text: 'Payroll region'
        },
        value: {
          text: otherAgency.payrollRegion.description if otherAgency.payrollRegion else 'Not provided'
        },
        actions: {
        items: [ ]
        }
      }
    ]
  }) }}
{% endmacro %}
