{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Court Register" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1>Court Register</h1>
    <p>List of courts</p>


    {% if courts.length %}
      <table class="govuk-table incidents govuk-!-margin-bottom-3" data-qa="courts">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Code</th>
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Name</th>
          <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Type</th>
          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Open</th>
        </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for court in courts %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{court.id}}</td>
            <td class="govuk-table__cell">{{court.name}}</td>
            <td class="govuk-table__cell">{{court.type}}</td>
            <td class="govuk-table__cell">
              {% if court.active %}
                Active
              {% else %}
                Closed
              {% endif %}
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    {% else %}
      <p data-qa=no-courts class="govuk-body">There are no courts</p>
    {% endif %}

  </main>

{% endblock %}
