{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Court Register" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1>Court Register</h1>
    <p>List of courts</p>
  </main>

{% endblock %}
